[submodule "plugins/simple_language_plugin"]
	path = plugins/simple_language_plugin
	url = https://github.com/Nosler/simple_language_plugin
[submodule "plugins/dl-plugin"]
	path = plugins/dl-plugin
	url = https://github.com/zachsully/dl-plugin
[submodule "plugins/DocstringGen"]
	path = plugins/DocstringGen
	url = https://github.com/Nickbonat22/DocstringGen
[submodule "plugins/simple-jetbrains-psi-plugin"]
	path = plugins/simple-jetbrains-psi-plugin
	url = https://github.com/aevelhoch/simple-jetbrains-psi-plugin
